:root {
  --dark: #222430;
  --light: #ddd;
  --link: #c0c;
  --link-hover: #f0f;
  --turquoise: #3ed2cb;
  --turquoise-dark: #30b2ac;
  --yellow: #fce477;
  --darkgrey: #373d4e;

  --dark-bg: #222430;
  --light-bg: #dddddd;
}

#cover-slide-title:hover {
  cursor: pointer;
}

#cover-slide-title {
  position: relative;
}

#cover-slide-info {
  background-color: rgba(50,50,50,0.5);
  border-radius: 20px;
  margin: 25% -25% 0 30%;
  padding: 1em;
}

.reveal {
	font-size: 28px;
}

.reveal a,
.reveal a:visited {
	color: var(--link);
}

.reveal a:hover,
.reveal a:active {
	color: var(--link-hover);
}

.img-bg-light {
	background-color: var(--light-bg);
	border-radius: 5px;
}


.reveal h1 {
  text-shadow:
  0 1px 0 red,
  0 2px 0 orange,
  1px 3px 0 yellow,
  1px 4px 0 green,
  2px 5px 0 cyan,
  2px 6px 0 blue,
  2px 7px 0 violet;
}

.reveal h1.notransform,
.reveal h2.notransform,
.reveal h3.notransform,
.reveal h4.notransform {
	text-transform: none;
}

quote {
	border-left: 7px solid gray;
	padding-left: 0.5em;
	margin: 0.3em 0;
	font-size: 1.1em;
	display: block;
	text-align: left;
}

i {
	text-decoration: underline dotted;
	font-style: italic;
}

.rainbow-gradient {
  background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
}
.rainbow-text {
  background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
